*{
    margin: 0;
    padding: 0;
}

.layout{
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

#country-capital{
    display: flex;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-criteria{
    margin: auto;
}

.country-element{

}

.list-of-countries{
    width: 50%;
    margin: auto;
}

.header-item{
    display: inline-block;
    width: 20%;
}

.table-item{
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.search-item{
    display: flex;
    width: 100px;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.list-container{
display: flex;
}

.search-criteria{
    display: flex;
    justify-content: center;
}
